/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
}
h2{
    font-size: 40px;
    color: #ededed;
    text-align: center;
    margin-bottom: 10px;
    cursor: default;
}

.contact form{
    width: 600px;
    text-align: center;
}
form .input-box{
    display: flex;
    justify-content: space-evenly;
}

.input-box{
    width: 70vw;
    justify-content: space-between;
    display: flex;
}
.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    color: #ededed; 
    margin: 12px 0;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}
.field .item1 {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    color: #ededed; 
    margin: 12px 0;
    width: 300px;
}
.field .item::placeholder {
    color:  rgba(255,255,255,.3);
}
 form .textarea-field .item{
    resize:none
 }
 .field .item1::placeholder {
    color:  rgba(255,255,255,.3);
}
 form .textarea-field .item1{
    resize:none
 }
 form button{
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
 }
 .form button:hover{
    box-shadow: none ;
 } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit';
    background: linear-gradient(#7aff69, rgba(139, 255, 135, 0.404));
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: rgb(1, 89, 1);
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(30, 106, 0);
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: 500;
    color: green;
    border-radius: 50px;
    padding-left: 25px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-inputs:focus {
    border: 2px solid #008507;
}

.contact-inputs::placeholder {
    color: rgb(0, 135, 0);

}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #18ff2b, #26ff00);
    cursor: pointer;
}

.contact-right img {
    width: 350px;
    margin-bottom: 120px;
}

@media (max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}

.menu-first {
    display: flex;
    justify-content: space-evenly;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 0 10px #a2a2a2;
    /* position: fixed; */
    /* height: 17%; */
}

.logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-logo {
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.menu-about {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.menu-about a {
    color: #fff;
    text-decoration: none;
    color: #000000;
    width: 25%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    transition: 1s;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

.menu-about a:hover {
    /* background-image: linear-gradient(red,orange,yellow,darkgreen,darkblue,purple);
    box-shadow: 0 0 10px linear-gradient(red,orange,yellow,darkgreen,darkblue,purple); */
    background-color: rgba(160, 255, 144, 0.853);
    box-shadow: 0 0 10px rgba(132, 255, 156, 0.792);
    border-radius: 10px;
}

/* .menu-about a::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 20%;
        height: 100%;
        background: #0dff00;
        transform: skewX(35deg);
        transition: 1s;
    }

    .menu-about a:hover::before {
        width: 40%;
    } */

.search {
    --padding: 14px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
}

.search-input {
    font-size: 18px;
    font-family: "Lexend", sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 240px;
}

.menu-find {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 250px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    width: 60%;
    height: 60px;
    font-weight: 600;
    background: #feffff;
    color: #000000;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown .left-icon,
.dropdown .right-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 5px;
    background: #fff;
    border-radius: 40px;
    transition: 0.5s;
}

.dropdown .left-icon {
    left: 7px;
    transform: rotate(45deg);
    background: #000000;
}

.dropdown.active .left-icon {
    transform: rotate(135deg);
}

.dropdown .right-icon {
    transform: rotate(-45deg);
    background: #000000;
}

.dropdown.active .right-icon {
    transform: rotate(-135deg);
}

.dropdown .items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    margin-top: 63px;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s;
}

.dropdown.active .items {
    visibility: visible;
}

.dropdown .items a {
    position: relative;
    left: 100%;
    display: flex;
    font-size: 20px;
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 2.5px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: calc(60ms * var(--i));
}

.dropdown.active .items a {
    left: 0;
}

.dropdown .items a:hover {
    color: #000000;
}

.dropdown .items a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1aff00;
    z-index: -1;
    border-radius: inherit;
    transform: rotate(180deg);
    transform-origin: right;
    transition: 0.5s;
}

.dropdown .items a:hover span {
    transform: rotate(0deg);
}

.bx-search::before {
    cursor: pointer;
}

.menu-first {
    display: flex;
    justify-content: space-evenly;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 0 10px #a2a2a2;
    /* position: fixed; */
    /* height: 17%; */
}

.logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-logo {
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.menu-about {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.menu-about a {
    color: #fff;
    text-decoration: none;
    color: #000000;
    width: 25%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    transition: 1s;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

.menu-about a:hover {
    /* background-image: linear-gradient(red,orange,yellow,darkgreen,darkblue,purple);
    box-shadow: 0 0 10px linear-gradient(red,orange,yellow,darkgreen,darkblue,purple); */
    background-color: rgba(160, 255, 144, 0.853);
    box-shadow: 0 0 10px rgba(132, 255, 156, 0.792);
    border-radius: 10px;
}

/* .menu-about a::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 20%;
        height: 100%;
        background: #0dff00;
        transform: skewX(35deg);
        transition: 1s;
    }

    .menu-about a:hover::before {
        width: 40%;
    } */

.search {
    --padding: 14px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
}

.search-input {
    font-size: 18px;
    font-family: "Lexend", sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 240px;
}

.menu-find {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 250px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    width: 60%;
    height: 60px;
    font-weight: 600;
    background: #feffff;
    color: #000000;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown .left-icon,
.dropdown .right-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 5px;
    background: #fff;
    border-radius: 40px;
    transition: 0.5s;
}

.dropdown .left-icon {
    left: 7px;
    transform: rotate(45deg);
    background: #000000;
}

.dropdown.active .left-icon {
    transform: rotate(135deg);
}

.dropdown .right-icon {
    transform: rotate(-45deg);
    background: #000000;
}

.dropdown.active .right-icon {
    transform: rotate(-135deg);
}

.dropdown .items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    margin-top: 63px;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s;
}

.dropdown.active .items {
    visibility: visible;
}

.dropdown .items a {
    position: relative;
    left: 100%;
    display: flex;
    font-size: 20px;
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 2.5px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: calc(60ms * var(--i));
}

.dropdown.active .items a {
    left: 0;
}

.dropdown .items a:hover {
    color: #000000;
}

.dropdown .items a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1aff00;
    z-index: -1;
    border-radius: inherit;
    transform: rotate(180deg);
    transform-origin: right;
    transition: 0.5s;
}

.dropdown .items a:hover span {
    transform: rotate(0deg);
}

.bx-search::before {
    cursor: pointer;
}

.container {
    position: relative;
    /* max-width: 1200px; */
    width: 100%;
    padding: 40px;
}

.container .box {
    padding: 50px 30px;
    overflow: hidden;
    width: 100%;
}

.box .swiper-button-next,
.box .swiper-button-prev {
    color: #666;
}

.box .swiper-button-next {
    right: 0;
}

.box .swiper-button-prev {
    left: 0;
}

.box .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #666;
}