/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
}
h2{
    font-size: 40px;
    color: #ededed;
    text-align: center;
    margin-bottom: 10px;
    cursor: default;
}

.contact form{
    width: 600px;
    text-align: center;
}
form .input-box{
    display: flex;
    justify-content: space-evenly;
}

.input-box{
    width: 70vw;
    justify-content: space-between;
    display: flex;
}
.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    color: #ededed; 
    margin: 12px 0;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}
.field .item1 {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    color: #ededed; 
    margin: 12px 0;
    width: 300px;
}
.field .item::placeholder {
    color:  rgba(255,255,255,.3);
}
 form .textarea-field .item{
    resize:none
 }
 .field .item1::placeholder {
    color:  rgba(255,255,255,.3);
}
 form .textarea-field .item1{
    resize:none
 }
 form button{
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
 }
 .form button:hover{
    box-shadow: none ;
 } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit';
    background: linear-gradient(#7aff69, rgba(139, 255, 135, 0.404));
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: rgb(1, 89, 1);
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(30, 106, 0);
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    font-weight: 500;
    color: green;
    border-radius: 50px;
    padding-left: 25px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    resize: none;
}

.contact-inputs:focus {
    border: 2px solid #008507;
}

.contact-inputs::placeholder {
    color: rgb(0, 135, 0);

}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #18ff2b, #26ff00);
    cursor: pointer;
}

.contact-right img {
    width: 350px;
    margin-bottom: 120px;
}

@media (max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}