    /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #ffffff;
}
nav {
position: absolute;
width: 100vw;
height: 50px;
background: #222;
display: flex;
justify-content: space-around;
align-items: center;
top: 0px;
}
nav a {
position: relative;
display: inline-block;
font-size: 1em;
color: #fff;
text-decoration: none;
padding: 0 23px;
z-index: 1;
}
nav span {
position: absolute;
top: 0;
left: 0;
width: 95px;
height: 100%;
background: linear-gradient(45deg, #2e3192, #1bffff);
border-radius: 8px;
transition: .5s ease;
}
nav a:nth-child(1):hover~span {
left: 0;
}
nav a:nth-child(2):hover~span {
left: 95px;
}
nav a:nth-child(3):hover~span {
left: 189px;
width: 110px;
}
nav a:nth-child(4):hover~span {
left: 298px;
width: 115px;
}
nav a:nth-child(5):hover~span {
left: 413px;
width: 110px;
}
.logo-d{
width: 50px;
height: 50px;

} */
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* .modal-title {
        background-image: linear-gradient(to right, #181818, #000000);
    } */

    .menu-first {
        display: flex;
        justify-content: space-evenly;
        background: #FFFFFF;
        width: 100%;
        box-shadow: 0 0 10px #a2a2a2;
        /* position: fixed; */
        /* height: 17%; */
    }

    .logo-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-logo {
        width: 75px;
        height: 75px;
        border-radius: 100%;
    }

    .menu-about {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 55%;

    }

    .menu-about a {
        color: #fff;
        text-decoration: none;
        color: #000000;
        width: 25%;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        transition: 1s;
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
    }


    .menu-about a:hover {
        /* background-image: linear-gradient(red,orange,yellow,darkgreen,darkblue,purple);
    box-shadow: 0 0 10px linear-gradient(red,orange,yellow,darkgreen,darkblue,purple); */
        background-color: rgba(160, 255, 144, 0.853);
        box-shadow: 0 0 10px rgba(132, 255, 156, 0.792);
        border-radius: 10px;

    }

    /* .menu-about a::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 20%;
        height: 100%;
        background: #0dff00;
        transform: skewX(35deg);
        transition: 1s;
    }

    .menu-about a:hover::before {
        width: 40%;
    } */

    .search {
        --padding: 14px;

        width: max-content;
        display: flex;
        align-items: center;
        padding: var(--padding);
        border-radius: 28px;
        background: #f6f6f6;
    }

    .search-input {
        font-size: 18px;
        font-family: 'Lexend', sans-serif;
        color: #333333;
        margin-left: var(--padding);
        outline: none;
        border: none;
        background: transparent;
        width: 240px;
    }

    .menu-find {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        position: relative;
        width: 250px;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown {
        position: relative;
        width: 60%;
        height: 60px;
        font-weight: 600;
        background: #feffff;
        color: #000000;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

    }

    .dropdown .left-icon,
    .dropdown .right-icon {
        position: relative;
        top: 2px;
        display: inline-block;
        width: 15px;
        height: 5px;
        background: #fff;
        border-radius: 40px;
        transition: .5s;
    }

    .dropdown .left-icon {
        left: 7px;
        transform: rotate(45deg);
        background: #000000;
    }

    .dropdown.active .left-icon {
        transform: rotate(135deg);
    }

    .dropdown .right-icon {
        transform: rotate(-45deg);
        background: #000000;
    }

    .dropdown.active .right-icon {
        transform: rotate(-135deg);
    }

    .dropdown .items {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 160px;
        margin-top: 63px;
        overflow: hidden;
        visibility: hidden;
        transition: .5s;
    }

    .dropdown.active .items {
        visibility: visible;
    }

    .dropdown .items a {
        position: relative;
        left: 100%;
        display: flex;
        font-size: 20px;
        background: #ffffff;
        color: #000000;
        text-decoration: none;
        border-radius: 5px;
        padding: 10px 15px;
        margin-top: 2.5px;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
        transition-delay: calc(60ms * var(--i));
    }

    .dropdown.active .items a {
        left: 0;
    }

    .dropdown .items a:hover {
        color: #000000;
    }

    .dropdown .items a span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1aff00;
        z-index: -1;
        border-radius: inherit;
        transform: rotate(180deg);
        transform-origin: right;
        transition: .5s;
    }

    .dropdown .items a:hover span {
        transform: rotate(0deg);
    }

    .bx-search::before {
        cursor: pointer;
    }


    .container {
        position: relative;
        /* max-width: 1200px; */
        width: 100%;
        padding: 40px;
    }

    .container .box {
        padding: 50px 30px;
        overflow: hidden;
        width: 100%;
    }

    .image img {
        padding: 0;
        margin: 0;
        position: relative;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        opacity: .8;
        border: 3px solid #fff;
        border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
        box-shadow:
            inset 20px 20px 20px rgba(0, 0, 0, .05),
            5px 25px 20px rgba(0, 0, 0, .05),
            5px 20px 30px rgba(0, 0, 0, .05),
            inset -20px -20px 25px rgba(255, 255, 255, .9);
        transition: .5s ease-in-out;

    }

    /* .card {
        position: relative;
        width: 350px;
        height: 350px;
         background: transparent; 
        box-shadow:
            inset 20px 20px 20px rgba(0, 0, 0, .05),
            5px 25px 20px rgba(0, 0, 0, .05),
            5px 20px 30px rgba(0, 0, 0, .05),
            inset -20px -20px 25px rgba(255, 255, 255, .9);
        border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
        transition: .5s ease-in-out;
    } */

    .image:hover {
        border-radius: 50%;
    }

    /* .image::before {
        content: '';
        position: absolute;
        top: 50px;
        left: 65px;
        width: 35px;
        height: 35px;
        background: #fff;
        border-radius: 50%;
        opacity: .9;
    }

    .image::after {
        content: '';
        position: absolute;
        top: 90px;
        left: 85px;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        opacity: .9;
    } */

    .cards .cards-content {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;
    }

    .cards-content .name-profession {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        color: #333;
    }

    .name-profession .name {
        font-size: 20px;
        font-weight: 600;
    }

    .name-profession .profession {
        font-size: 15px;
        font-weight: 500;
    }

    .cards-content .rating {
        display: flex;
        align-items: center;
        margin-top: 18px;
    }

    .cards-content .rating i {
        font-size: 22px;
        color: var(--clr);
        margin: 0 2px;
        opacity: .75;
    }

    .cards-content button {
        position: relative;
        padding: 8px 35px;
        background: var(--clr);
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
        cursor: pointer;
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        opacity: .75;
        margin-top: 30px;
    }

    .cards-content button::before {
        content: '';
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 55%;
        height: 5px;
        background: rgba(255, 255, 255, .5);
        border-radius: 5px;
    }

    .box .swiper-button-next,
    .box .swiper-button-prev {
        color: #666;
    }

    .box .swiper-button-next {
        right: 0;
    }

    .box .swiper-button-prev {
        left: 0;
    }

    .box .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: #666;
    }

    .footer {
        position: relative;
        margin-top: 90%;
    }

    body>div.footer {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        color: #444;
        font-size: 16px;
        line-height: 170%;
        box-sizing: border-box;
        padding-top: 55px;
        background-color: #f9fbf2;
    }

    body>div.footer>div {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        color: #444;
        font-size: 16px;
        line-height: 170%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1326px;
        min-width: 1000px;
        padding-right: 15px;
        padding-left: 15px;
    }

    body>div.footer>div>div.footer-top {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        color: #444;
        box-sizing: border-box;
        display: flex;
        padding-bottom: 50px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 1px solid #000;
        font-size: 14px;
        line-height: 170%;
        text-align: right;
    }

    body>div.footer>div>div.foter-bottom {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        color: #444;
        font-size: 16px;
        line-height: 170%;
        box-sizing: border-box;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        text-align: center;
    }

    body>div.footer>div>div.footer-top>img {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        color: #444;
        font-size: 14px;
        line-height: 170%;
        text-align: right;
        box-sizing: border-box;
        border: 0;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
    }

    body>div.footer>div>div.footer-top>div>p {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        color: #444;
        text-align: right;
        box-sizing: border-box;
        margin-top: 0;
        font-size: 16px;
        line-height: 170%;
        font-weight: 400;
        margin-bottom: 0px;
    }

    body>div.footer>div>div.foter-bottom>ol {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        color: #444;
        font-size: 16px;
        line-height: 170%;
        text-align: center;
        box-sizing: border-box;
        margin-top: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        margin-bottom: 0px;
    }

    body>div.footer>div>div.foter-bottom>div>a {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        font-size: 16px;
        line-height: 170%;
        text-align: center;
        box-sizing: border-box;
        background-color: transparent;
        color: #444;
        text-decoration: none;
    }

    body>div.footer>div>div.foter-bottom>ol>li {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        color: #444;
        font-size: 16px;
        line-height: 170%;
        list-style: none;
        box-sizing: border-box;
        margin-right: 30px;
    }

    body>div.footer>div>div.foter-bottom>ol>li.link-item.last {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        color: #444;
        font-size: 16px;
        line-height: 170%;
        list-style: none;
        box-sizing: border-box;
        margin-right: 0px;
    }

    body>div.footer>div>div.foter-bottom>ol>li>a {
        -webkit-text-size-adjust: 100%;
        font-family: Urbanist, sans-serif;
        font-size: 16px;
        line-height: 170%;
        list-style: none;
        box-sizing: border-box;
        background-color: transparent;
        color: #444;
        text-decoration: none;
    }

    /* .footer {
    display: flex;
    justify-content: space-around;
} */


    .navigation-footer-component {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-wrap: nowrap;
        gap: 1.2rem;
        justify-content: center;
        margin: 0 auto;
        max-width: 108.4rem;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-shadow: 0.1rem 0.1rem rgba(49, 46, 43, .6);
        width: 100%;
    }

    .carousel {
        height: 100vh;
        padding: 0 10%;

    }

    .carousel .box-info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 650px;
        height: 250px;
    }

    .list-info .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        height: 250px;
    }

    .info h2 {
        font-size: 50px;
        line-height: 1;
    }

    .info .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 50px;
        background: transparent;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        text-decoration: none;
        font-weight: 600;

    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .image-container {
        border-radius: 10px 10px 0 0;
    }

    .sale-logo {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .slide h2 {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }